<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  
  <div id="app">
  	<div class="todo">
  		<h3 class="todo__title">Todo vue</h3>
  		<input type="text" class="todo__field" placeholder="todo / edit" v-model="val">
  		<button class="todo__button" @click="add">add</button>
      <ul class="todo__list">
        <li class="todo__el" v-for="item in todo">
          <div class="delete" @click="deleteTodo(item)">x</div>
          <div class="text">{{item.text}}</div>
          <div class="edit" @click="editTodo(item)">edit</div>
          <input type="checkbox" class="checkbox" @click="sorting(item)" v-model="item.check">
        </li>
      </ul>
    </div>
  </div>

  
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>

<script>
var app = new Vue({
  el: '#app',
  data: {
    val: '',
    todo: []
  },
  created: function () {
    if(localStorage.todo){
      this.todo = JSON.parse(localStorage.todo);
    }
  },
  watch: {
    todo: function(val){
      this.text = val;
    }
  },
  methods: {
    add: function(){
      this.todo.push({text: this.val, check: false});
      this.val = '';
      this.addLocal();
    },
    deleteTodo: function(item){
      this.todo.splice(this.todo.indexOf(item), 1);
      this.addLocal();
    },
    addLocal: function(){
      localStorage.setItem('todo', JSON.stringify(this.todo));
    },
    editTodo: function(item){
      if(this.val.length >= 1){
        item.text = this.val;
        this.val = '';
        this.addLocal();
      }else{
        alert('enter a new value');
      }
    },
    sorting: function(item){
      if(item.check === true){
        item.check = false;
        this.todo.splice(this.todo.indexOf(item), 1);
        this.todo.unshift({text: item.text, check: item.check});
      }else{
        item.check = true;
        this.todo.splice(this.todo.indexOf(item), 1);
        this.todo.push({text: item.text, check: item.check});
      } 
      this.addLocal();
    }
  }
})  
</script>
</body>
</html>